<ion-view title="Bookmark Here">
  <ion-content class="padding">
    <ion-scroll direction="x" class="image-container">
      <button class="button button-outline button-positive button-add-image icon ion-ios-plus-outline" ng-click="addImage()">
      </button>
      <img ng-repeat="image in images track by $index" class="image-list-thumb" ng-show="image !== undefined" ng-src="{{ image }}">
    </ion-scroll>
    <label class="item item-input">
      <span class="input-label">Place</span>
      <input type="text" ng-model="contents_for_save.name" placeholder="어디인가요?" ></input>
    </label>
    <label class="item item-input">
      <span class="input-label">전화번호</span>
      <input type="text" ng-model="contents_for_save.telephone_no" ></input>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">MEMO</span>
      <textarea ng-model="contents_for_save.memo" rows="4" placeholder="이 곳을 기억하기 위한 메모를 남겨 주세요" ></textarea>
    </label>
    <label class="item-input item-select">
      <span class="input-label">
        공개범위
      </span>
      <select ng-model="selectedPolicy" ng-change="selectPolicy(selectedPolicy)">
        <option ng-repeat="policy in policies" ng-selected="policy.selected" value="{{ policy.id }}">{{ policy.name }}</option>
      </select>
    </label>

    <button class="button button-block button-royal icon ion-ios-compose-outline" ng-click="savePlaceInfo()">
      저장하기
    </button>

    <ion-list>
      <ion-item class="item-divider">디버깅용 정보</ion-item>
      <ion-item>address : {{ contents_for_save.address }}</ion-item>
      <ion-item>lat : {{ contents_for_save.curPos.lat }}</ion-item>
      <ion-item>lng : {{ contents_for_save.curPos.lng }}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
