<div class="transparent" ng-click="closePlistModal()">
  <ion-header-bar class="bar-positive">
    <h1 class="title">다음의 장소가 맞나요?</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="setPlaceByProposing(placesProposed.top1[0])">
        {{placesProposed.top1[0]}} ({{placesProposed.top1[1]}})
      </ion-item>
      <ion-item ng-click="setPlaceByProposing(placesProposed.top2[0])">
        {{placesProposed.top2[0]}} ({{placesProposed.top2[1]}})
      </ion-item>
      <ion-item ng-click="setPlaceByProposing(placesProposed.top3[0])">
        {{placesProposed.top3[0]}} ({{placesProposed.top3[1]}})
      </ion-item>
      <ion-item ng-click="setPlaceByProposing('')">
        기타
      </ion-item>
    </ion-list>
  </ion-content>
</div>
