<ion-view view-title="Saved Places (List)">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="place in places" type="item-text-wrap" ng-href="#/tab/place/{{place.id}}">
        <img ng-src="{{place.images[0]}}">
        <h2>{{place.name}}</h2>
        <h4>{{place.address}}</h4>
        <p>{{place.memo}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(place)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
