<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Bookmark" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/bookmark">
    <ion-nav-view name="tab-bookmark"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="SavedPlaces" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/savedplaces">
    <ion-nav-view name="tab-savedplaces"></ion-nav-view>
  </ion-tab>

  <!-- Connect Tab -->
  <ion-tab title="Connect" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/connect">
    <ion-nav-view name="tab-connect"></ion-nav-view>
  </ion-tab>


</ion-tabs>
