<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive"> -->
<ion-tabs class="tabs-stable">

  <!-- Bookmark Tab -->
  <ion-tab title="Bookmark" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/bookmark" on-select="onBookmarkTabSelected()">
    <ion-nav-view name="tab-bookmark"></ion-nav-view>
  </ion-tab>

  <!-- SavedPlaces Tab -->
  <ion-tab title="SavedPlaces" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/savedplaces" on-select="onSavedPlacesTabSelected()">
    <ion-nav-view name="tab-savedplaces"></ion-nav-view>
  </ion-tab>

  <!-- SavedPlaces_list Tab -->
  <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/savedlist">
    <ion-nav-view name="tab-savedlist"></ion-nav-view>
  </ion-tab>

  <!-- Config Tab -->
  <ion-tab title="Config" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>
</ion-tabs>
