body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

textarea.ng-invalid {
  border: 5px solid red;
}

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 250px;
}

.image-list-thumb-large {
  padding: 4px 4px 4px 4px;
  height: 450px;
}

.image-container {
  overflow: scroll;
  white-space: nowrap;
  /* height: 250px;
  min-height: 250px; */
}

.button-add-image {
  height: 250px !important;
  width: 100px !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: rgba(0, 0, 0, 0.8) !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}


.slider {
  width: 100%;
  height: 100%;
}

.centerme {
  margin: 0 auto;
  width: 100%;
  height:100%;
}

a.back-to-top {
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #27AE61;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
